body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    border-radius: 100%;
    box-shadow: 0px 0px 5px grey;
    margin-bottom: 10px;
}

.bucket-button {
    margin-bottom: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;
    max-width: 300px;
    height: 75%;
}

.grid-container {
    width: 500px;
    max-width: 500px;
    height: 500px;
    max-height: 500px;
    display: grid;

    /* shadow effects around container */
    box-shadow: 0px 0px 5px grey;
}

.row-cell {
    background-color: white;
}

input[type='color'] {
    border: none;
    width: 32px;
    height: 32px;
    /* border-radius: 100%; */
    opacity: 0;
}
